
.statistic {
  height: 100vh;
  background-color: #262838;
  position: relative;
}

.statistic p {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.css-t3xolk {
  z-index: 0 !important;
}

