.css-1kfabtt-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}

.css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}

.css-d551zc-MuiSvgIcon-root-MuiSelect-icon, .css-lohd6h-MuiSvgIcon-root-MuiSelect-icon {
    color: #fff !important;
}

.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    color: #fff !important;
}

.css-1ll44ll-MuiOutlinedInput-notchedOutline {
    border-color: #fff !important;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6.5px 14px !important;
}