.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: #fff !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    color: #fff !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #fff !important;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6.5px 14px !important;
}