.booking {
  width: 100%;
  height: fit-content;
  min-width: 100vh;
  background-color: #262838;
  padding: 0 5rem 2rem 5rem;
  position: relative;
}
.booking .booking_title {
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.booking .form_of_booking_page {
  padding: 1rem;
  width: 600px;
  background-color: #ccc;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.booking .form_of_booking_page #close_form_of_booking_page,
.booking .form_of_booking_page #close_form_edit_of_booking_page {
  width: 24px;
  height: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border-width: 0;
  margin-left: calc(100% - 24px);
  cursor: pointer;
}
.booking .form_of_booking_page #close_form_of_booking_page p,
.booking .form_of_booking_page #close_form_edit_of_booking_page p {
  font-size: 14px;
}
.booking .form_of_booking_page .title_form_of_booking_page {
  font-weight: bold;
  text-align: center;
}
.booking .form_of_booking_page form {
  padding: 1rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.booking .form_of_booking_page form p {
  margin-bottom: 0.3rem;
}
.booking .form_of_booking_page form input {
  margin-bottom: 1rem;
}
.booking .form_of_booking_page form select {
  margin-bottom: 1rem;
}
.booking .form_of_booking_page form #btn_submit_form_of_booking_page {
  width: fit-content;
  padding: 4px;
  margin-top: 1rem;
}
.booking .booking_add_button {
  padding: 1rem 0;
  display: flex;
}
.booking .booking_add_button .add_button_container {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 12px;
  border-width: 0;
  cursor: pointer;
}
.booking .booking_add_button .add_button_container p {
  font-size: 14px;
}
.booking .booking_add_button .add_button_container img {
  margin-left: 4px;
}
.booking .booking_add_button .btn_create_file {
  margin-left: 1rem;
}
.booking .booking_add_button .active_form_of_booking_page,
.booking .booking_add_button .active_form_edit_of_booking_page {
  display: block;
}
.booking .booking_add_button .hide_form_of_booking_page,
.booking .booking_add_button .hide_form_edit_of_booking_page {
  display: none;
}
.booking .booking_add_button a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
.booking .booking_table .hide_form_edit_of_booking_page {
  display: none;
}
.booking .booking_table .active_form_edit_of_booking_page {
  display: block;
}
.booking .booking_table .booking_table_stt {
  width: 5%;
  text-align: center;
}
.booking .booking_table .booking_table_id {
  width: 5%;
  text-align: center;
}
.booking .booking_table .booking_table_email {
  width: 17%;
}
.booking .booking_table .booking_table_sodienthoai {
  width: 13%;
}
.booking .booking_table .booking_table_delivery {
  width: 10%;
}
.booking .booking_table .booking_table_status {
  width: 12%;
}
.booking .booking_table .booking_table_checkin {
  width: 10%;
}
.booking .booking_table .booking_table_checkout {
  width: 10%;
}
.booking .booking_table .booking_table_sua {
  width: 9%;
}
.booking .booking_table .booking_table_xoa {
  width: 9%;
}
.booking .booking_table .booking_table_title {
  border-radius: 12px 12px 0px 0px;
  background-color: #312E4A;
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}
.booking .booking_table .booking_table_title p {
  font-weight: bold;
}
.booking .booking_table .booking_table_items .booking_table_item {
  background-color: #3C3A54;
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
.booking .booking_table .booking_table_items .booking_table_item p {
  font-size: 14px;
}
.booking .booking_table .booking_table_items .booking_table_item .booking_table_sua button, .booking .booking_table .booking_table_items .booking_table_item .booking_table_xoa button {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 12px;
  border-width: 0;
  cursor: pointer;
}
.booking .booking_table .booking_table_items .booking_table_item:last-child {
  border-radius: 0px 0px 12px 12px;
}

/*# sourceMappingURL=booking.css.map */
