.booking{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: #262838;
    padding: 0 5rem 2rem 5rem;
    position: relative;
    .booking_title{
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
    .form_of_booking_page{
        padding: 1rem;
        width: 600px;
        background-color: #ccc;
        border-radius: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        #close_form_of_booking_page,
        #close_form_edit_of_booking_page{
            width: 24px;
            height: 24px;
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            border-width: 0;
            margin-left: calc(100% - 24px);
            cursor: pointer;
            p{
                font-size: 14px;
            }
        }
        .title_form_of_booking_page{
            font-weight: bold;
            text-align: center;
        }
        form{
            padding: 1rem;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            p{
                margin-bottom: .3rem;
            }
            input{
                margin-bottom: 1rem;
            }
            select{
                margin-bottom: 1rem;
            }
            #btn_submit_form_of_booking_page{
                width: fit-content;
                padding: 4px;
                margin-top: 1rem;
            }

        }
    }
    .booking_add_button{
        padding: 1rem 0;
        display: flex;
        .add_button_container{
            display: flex;
            align-items: center;
            padding: 8px 12px;
            border-radius: 12px;
            border-width: 0;
            cursor: pointer;
            p{
                font-size: 14px;
            }
            img{
                margin-left: 4px;
            }
        }

        .btn_create_file{
            margin-left: 1rem;
        }

        .active_form_of_booking_page,
        .active_form_edit_of_booking_page{
            display: block;
        }
        .hide_form_of_booking_page,
        .hide_form_edit_of_booking_page{
            display: none;
        }

        a{
            text-decoration: none;
            font-size: 14px;
            color: #000;
        }
    }

    .booking_table{
        .hide_form_edit_of_booking_page{
            display: none;
        }
        .active_form_edit_of_booking_page{
            display: block;
        }
        .booking_table_stt{
            width: 5%;
            text-align: center;
        }
        .booking_table_id{
            width: 5%;
            text-align: center;
        }
        .booking_table_email{
            width: 17%;
        }
        .booking_table_sodienthoai{
            width: 13%;
        }
        // .booking_table_hovaten{
        //     width: 10%;
        // }
        // .booking_table_fileexcel{
        //     width: 10%;
        // }
        .booking_table_delivery{
            width: 10%;
        }
        .booking_table_status{
            width: 12%;
        }
        .booking_table_checkin{
            width: 10%;
        }
        .booking_table_checkout{
            width: 10%;
        }
        .booking_table_sua{
            width: 9%;
        }
        .booking_table_xoa{
            width: 9%;
        }

        .booking_table_title{
            border-radius: 12px 12px 0px 0px;
            background-color: #312E4A;
            color: #fff;
            display: flex;
            justify-content: space-around;
            height: 60px;
            align-items: center;

            p{
                font-weight: bold;
            }

        }

        .booking_table_items{
            .booking_table_item{
                background-color: #3C3A54;
                color: #fff;
                display: flex;
                justify-content: space-around;
                height: 50px;
                align-items: center;
                p{
                    font-size: 14px;
                }
                .booking_table_sua, .booking_table_xoa{
                    
                    button{
                        display: flex;
                        align-items: center;
                        padding: 4px 8px;
                        border-radius: 12px;
                        border-width: 0;
                        cursor: pointer;
                    }
                }
            }
            .booking_table_item:last-child{
                border-radius: 0px 0px 12px 12px;
            }   
        }
    }
}
.tss-1qtl85h-MUIDataTableBodyCell-root.tss-1ej321f-MUIDataTableBodyCell-cellHide.tss-1t2q2nr-MUIDataTableBodyCell-stackedHeader.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    visibility: hidden !important;
}

// tr{
//     display: flex !important;
//     flex-direction: row;
// }