.home{
    height: 800px;
    background-color: #262838;
    position: relative;
    p{
        position: absolute;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
}

