.navbar {
  width: 100%;
  height: 56px;
  background-color: #1E1E2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  z-index: 1000;

  .logo {
    display: flex;
    justify-content: center;

    a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    height: 100%;

    li {
      margin: 0 2rem;

      a {
        color: #FFFFFF;
        text-decoration: none;
        line-height: 56px;
        padding: 0 8px;
        
        &:hover {
          text-decoration: none;
        }
      }

      &.active {
        background-color: orange;

        a {
          color: #FFFFFF;
        }
      }
    }
  }

  .login {
      text-decoration: none;
      color: #FFFFFF;
  } 

  li{
    text-decoration: none;
    line-height: 56px;
    list-style-type: none;

    a{
      padding: 0 8px;
    }
    &.active {
      background-color: orange;

      a {
        color: #FFFFFF;
      }
    }
  }

  .menu-icon {
    display: none;

    img {
      font-size: 24px;
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }

    .login {
      display: none;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      background-color: #1E1E2C;
      padding: 10px 0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

      &.active {
        display: flex;
      }

      li {
        margin: 10px;

        a {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: #00ADB5;
          }
        }
      }
    }
  }
}
