.btn_add_new_booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.dropzone {
    border: 2px dashed #4a90e2; /* Màu viền */
    border-radius: 8px; /* Bo tròn góc */
    padding: 20px;
    width: 100%;
    max-width: 400px; /* Giới hạn chiều rộng */
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #f9f9f9; /* Màu nền */
}

.dropzone:hover {
    background-color: #e8f0fe; /* Màu nền khi hover */
    border-color: #357ae8; /* Màu viền khi hover */
}

.dropzone p {
    font-size: 16px;
    color: #555; /* Màu chữ */
    margin: 10px 0 0; /* Thay đổi margin để tạo khoảng cách */
    padding: 0;
}

.dropzone input {
    display: none; /* Ẩn input file */
}

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #4a90e2; /* Màu chữ cho tên file */
    font-weight: bold;
}
