.zoom-buttons {
    position: absolute;
    top: 80px; 
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 999;
}

.zoom-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.zoom-button:hover {
    background-color: #555;
}

.zoomable-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
