.footer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    background-color: #1E1E2C;

    .content{
        display: flex;
        justify-content: space-around;   

        .content_1{
            width: 42%;
        }

        .content_2{
            width: 30%;
        }

    }

    .copyright{
        margin-top: 16px;
        text-align: center;
    }

    p, h3{
        color: #fff;
        line-height: 2.5;
    }
}
